{% extends 'admin/layout.html' %}
{% block title %}
    {% if action == 'create' %}Tạo Tầng Mới{% else %}Chỉnh Sửa Tầng{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">
        {% if action == 'create' %}Tạo Tầng Mới{% else %}Chỉnh Sửa Tầng: {{ tang.ten }}{% endif %}
    </h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="POST" class="user">
                {{ form.hidden_tag() }}

                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        {{ form.ten.label(class="form-label") }}
                        {{ form.ten(class="form-control") }}
                        {% for error in form.ten.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                
                <hr>
                {{ form.submit(class="btn btn-primary btn-block") }}
                <a href="{{ url_for('admin_ui.tang_list') }}" class="btn btn-secondary btn-block">Hủy bỏ</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}